<html lang="en">

<head>
    <meta charset="utf-8">

    <title>References</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <style>
        body {
            padding-top: 2rem;
            padding-bottom: 3rem;
        }

        .content {
            color: #5a5a5a;
        }
        .italicize{
            font-style: italic;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>References</h1>
    </div>

    <div class="container content">
        <div class="container">
            <h2>Articles</h2>
            <div>
                Hunter N, Dempsey N, Tbaishat F, Jahanzeb M, Al-Sukhun S, Gralow JR. Resource-Stratified Guideline-Based Cancer Care Should Be a Priority: Historical Context and Examples of Success. <span class="italicize">American Society Clinical Oncology Educational Book.</span> 2020 Mar; 40:1-10. doi: 10.1200/EDBK_279693. PMID: 32223670.
            </div>
            <br>
            <div>
                Shioiri-Clark, Marika. “7 Design Principles of Using Technology to Reach Syrian Refugee Families.” Medium, The Airbel Impact Lab, 26 Oct. 2017, <a href="medium.com/airbel/7-design-principles-of-using-technology-to-reach-syrian-refugee-families-55ef7313ae47.">medium.com/airbel/7-design-principles-of-using-technology-to-reach-syrian-refugee-families-55ef7313ae47.</a> 
            </div>
        </div>
        <div class="container">
            <h2>Audio</h2>
            <div>Explosion Audio from <a href="https://www.freesoundeffects.com/free-sounds/explosion-10070/"
                    title="Free Sound Effects">www.freesoundeffects.com</a></div>
        </div>
        <div class="container">
            <h2>Images</h2>
            <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>, retreived
                December, 2020 from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
            <div>Newspaper logo made by pngWing, retrieved December, 2020 <a href="https://www.pngwing.com/en/free-png-zhzjj" title="PngWing">www.pngwing.com</a>
            </div>
            <div>Learning image of mother and child made by <a href="https://medium.com/@Marikiriki">Marika
                    Shioiri-Clark</a>, retreived December, 2020 from <a
                    href="https://medium.com/airbel/7-design-principles-of-using-technology-to-reach-syrian-refugee-families-55ef7313ae47"
                    title="Medium">www.medium.com</a></div>
            <div>Lebanon map made by <a href="https://wwwnc.cdc.gov/travel/images/map-lebanon.png" title="CDC">CDC</a>,
                retrieved November, 2020 from <a href="https://wwwnc.cdc.gov/travel/destinations/traveler/none/lebanon"
                    title="CDC Travel Advisory">www.cdc.gov</a></div>
        </div>
        <div class="container">
            <h2>Videos</h2>
        </div>
    </div>

</body>

</html>